.footer {
    background-color: #6c6db4;
    padding: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
p{
    margin: 0;
    color: #00035c;
}