<app-header></app-header>
<div class="form-container">
  <body>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" formControlName="email" class="form-control">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" class="form-control">
      </div>

      <button type="submit" class="submit-button">Login</button>
    </form>
  </body>
  <br>
</div>
<app-footer></app-footer>