<app-header></app-header>
<div>
    <div class="header">
        Event
    </div>
    <div class="con1"><button type="button" (click)="addNew()">เพิ่มข้อมูลใหม่</button></div>
    
    <div class="con1">
        <table border="1" style="width: 80%; text-align: center;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td>{{ event.id_event }}</td>
                    <td>{{ event.name_event }}</td>
                    <td>{{ event.date_start }}</td>
                    <td>{{ event.date_end }}</td>
                    <td>
                        <button type="button" (click)="edit()">Edit</button>
                        <!-- <button (click)="delete(this.event.id_event)">Delete</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
</div>

<app-footer></app-footer>
