<app-header></app-header>
<div>
<body>
    <div class="header">
        Member
    </div>
    <div class="content">
        <div class="content">
            <div class="zone-container">
                <mat-card class="example-card" appearance="outlined" *ngFor="let member of members">
                    <div class="image-gallery">
                        <mat-card-content>
                            <p>ID: {{member.id_member}}</p>
                            <p>Name: {{member.t_name}}{{member.f_name}} {{member.l_name}}</p>
                            <p>Phone: {{member.phone}}</p>
                            <p>Email: {{member.email}}</p>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</body>
</div>
<app-footer></app-footer>

