<!-- <div class="form-container">
<div>
    <h2 style="text-align: center;">Edit Event</h2>
    <input type="text" name="name_event" #name_event value="{{selected.name_event}}">
    <input type="text" name="date_start" #date_start value="{{selected.date_start}}">
    <input type="text" name="date_end" #date_end value="{{selected.date_end}}">
    
    <button (click)="save(name_event.value,date_start.value,date_end.value)">Save</button>
    <button (click)="close()">Cancel</button>
</div>
</div> -->

  
<div class="form-container">
  <h2>Edit Event</h2>

  <form>
      <div class="form-group">
          <label for="name_event">Name Event :</label>
          <input type="text" name="name_event" #name_event value="{{selected.name_event}}">
      </div>

      <div class="form-group">
        <label for="date_start">Date Start :</label>
        <input type="date" name="date_start" #date_start value="{{selected.date_start}}">
    </div>
    
    <div class="form-group">
        <label for="date_end">Date End :</label>
        <input type="date" name="date_end" #date_end value="{{selected.date_end}}">
    </div>

      <button (click)="save(name_event.value,date_start.value,date_end.value)" class="submit-button">Save</button>
      <button (click)="close()" class="close-button">Cancel</button>
  </form>
</div>
