<app-header></app-header>

<div class="zone-page">
    <div class="header">
        <h2>Zone</h2>
    </div>
    
    <div class="content">
        <div class="zone-container">
            <mat-card class="example-card" appearance="outlined" *ngFor="let zone of zones" (click)="booth(zone)">
                <mat-card-header>
                    <mat-card-title>{{ zone.name_zone }}</mat-card-title>
                    <mat-card-subtitle>ID: {{ zone.id_zone }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Total Booth: {{ zone.num_booth }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<app-footer></app-footer>
