<mat-toolbar
  class="fxLayout dark"
  style="
  width:100%;
  height:80px;
  flex-direction:row;
  justify-content:space-between;
  background-color:#00035c;
  color:ghostwhite;
  "
>
  <div class="fxLayout" style="flex-direction: row; align-items:center">
    <mat-icon>local_florist</mat-icon>
    <span>&nbsp;Group 17</span>
  </div>
  <div>
    <!-- ข้อ 5-9 -->
    <button mat-flat-button style="background-color: #00035c;color:ghostwhite">
      Zone & Booth
    </button>
    <!-- ข้อ 12-13 สามารถลิงค์ไปยัง 10-11 ได้ -->
    <button mat-flat-button style="background-color: #00035c;color:ghostwhite">
        About ME
    </button>
    <button mat-flat-button style="background-color: #00035c;color:ghostwhite">
        Logout
      </button>
  </div>
</mat-toolbar> 

